/* Put your custom CSS here */
.home-content__shop-link,
.home-content__impianti-link {
	background-repeat: no-repeat;
	background-position: 50% 25%;
	height: 48px;
	padding-top: 148px;
}
.home-content__shop-link {
	background-image: url(../images/icon-shop.png); 
	margin-bottom: 1px;
}

.home-content__impianti-link {
	background-image: url(../images/icon-impianti.png); 
}

.home-content__idisite-link,
.home-content__newsletter-link,
.home-content__resi-link,
.home-content__corsi-link {
	background-repeat: no-repeat;
	background-position: 50% 25%;
	height: 24px;
	padding-top: 74px;
}
.home-content__idisite-link {
	background-image: url(../images/icon-idisite.png); 
	margin-bottom: 1px;
}

.home-content__newsletter-link {
	background-image: url(../images/icon-newsletter.png); 
	margin-bottom: 1px;
}

.home-content__resi-link {
	background-image: url(../images/icon-resi.png); 
	margin-bottom: 1px;
}

.home-content__corsi-link {
	background-image: url(../images/icon-corsi.png); 
}